@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #343C6A;
    overflow: hidden;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .logo {
    width: 600px;
    margin-bottom: 10px; 
  }
  
  .login-form {
    background: #ffffff;
    padding: 20px;
    width: 320px;
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f7f7f7;
  }
  
  .input-group i {
    margin-right: 10px;
    color: #aaa;
  }
  
  .input-group input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    padding-left: 5px; 
  }
  
  .forgot-password {
    text-align: right;
    font-size: 14px;
    color: #FF891D;
    margin-bottom: 20px;
    text-decoration: underline;
  }
  
  .login-button {
    background-color: #A03E06;
    color: #ffffff;
    padding: 12px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #994a28;
  }

  .icon {
    margin-right: 10px;
    margin-left: 5px;
    color: gray;
  }

  .menu-item-text {
    flex-grow: 1;
  }

  .sidetext {
    margin-right: 1rem;
    width: 20px;
  }

  .searchBar {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    background-color: #EFEFEF;
    margin-right: 20px;
  }
  
  .searchInput {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 8px;
    flex: 1;
    color: gray;
  }

  .profile-logo {
    width: 57px;
    height: 57px; 
    border-radius: 50%; 
    border: 2px;
    object-fit: cover; 
    margin-right: 8px;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .empty-profile {
    width: 57px;
    height: 57px;
    background-color: #d3d3d3;
    border-radius: 50%;
    border: 2px
  }

  .flex {
    margin-bottom: 5px;
  }

  .flex span {
    margin: 0;
  }

  .border-b {
    border-bottom: 1px solid #ddd;
  }